version: '3'
services:
  mysql:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "tradeservice"
      MYSQL_USER: "tradeservice"
      MYSQL_PASSWORD: "password"
  redis:
    image: redis
    ports:
      - "6379:6379"